@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('assets/cursor.png'), auto;
    font-family: 'Titillium Web', sans-serif;
}

.layouts {
    width: 476px;
    margin: 0 auto;
    height: 100vh;
    border: 1px solid black;
    position: relative;
}

.topbar {
    background-color: blue;
    padding: 16px;
    text-align: center;

}

.topbar h3 {
    color: white;
    font-weight: 800;
}

.items {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding: 32px;
    gap: 16px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px #999;
}

.item-image {
    width: 50%;
}

.item-submit, .led-submit, .fan-submit, .mesincuci-submit, .valve-submit {
    background-color: blue;
    padding: 4px 8px;
    width: 100%;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.page-title {
    padding: 16px;
}

.page-title h3 {
    text-align: center;
    font-weight: 700;
    font-size: xx-large;
}


.leds {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 16px;
    padding: 16px;
    justify-items: center;
}

.led {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px 2px #999;
}

.led-location-text {
    font-weight: 700;
}

.led-image {
    width: 100px;
    object-fit: cover;
}


.fans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    padding: 16px;
    justify-items: center;
}

.fan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px 2px #999;
}

.fan-location-text {
    font-weight: 700;
}

.fan-image {
    width: 100px;
    object-fit: cover;
}


.mscuci {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
    justify-items: center;
}

.mesincuci {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px 2px #999;
}

.mesincuci-location-text {
    font-weight: 700;
}

.mesincuci-image {
    width: 100px;
    object-fit: cover;
}


.valves {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
    justify-items: center;
}

.valve {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px 2px #999;
}

.valve-location-text {
    font-weight: 700;
}

.valve-image {
    width: 100px;
    object-fit: cover;
}


.buttombar {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: blue;
    width: 100%;
}

.buttombar ul {
    display: flex;
    width: 100%;
    list-style-type: none;
}

.buttombar ul li {
    flex: 1;
    text-align: center;
}

.buttombar ul li a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    display: block;
}

.fotos {
    display: grid;
    gap: 2px;
    padding: 16px;
    justify-items: center;
}

.fotoprofil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 4px 2px #999;
}

.foto-location-text {
    font-weight: 700;
}

.fotoprofil-image {
    width: 100px;
    object-fit: cover;
}

.panah a {
    color: white;
    position: absolute;
    text-decoration: none;
    top: 11px; /* Atur sesuai kebutuhan */
    left: 5%;
    font-size: x-large;
    display: block;
}

/* Profil */
.profil-name {
    font-size: 17px; /* Atur ukuran teks nama */
    font-weight: bold; /* Teks tebal */
    margin-top: 10px; /* Tambahkan jarak di atas nama */
    color: black; /* Atur warna teks sesuai kebutuhan */
}

.profil-nim {
    font-size: 17px; /* Atur ukuran teks nama */
    font-weight: bold; /* Teks tebal */
    margin-top: 10px; /* Tambahkan jarak di atas nama */
    color: black; /* Atur warna teks sesuai kebutuhan */
}

.profil-prodi {
    font-size: 17px; /* Atur ukuran teks nama */
    font-weight: bold; /* Teks tebal */
    margin-top: 10px; /* Tambahkan jarak di atas nama */
    color: black; /* Atur warna teks sesuai kebutuhan */
}

.profil-univ {
    font-size: 17px; /* Atur ukuran teks nama */
    font-weight: bold; /* Teks tebal */
    margin-top: 10px; /* Tambahkan jarak di atas nama */
    color: black; /* Atur warna teks sesuai kebutuhan */
}

.profil-judul {
    font-size: 17px; /* Atur ukuran teks nama */
    font-weight: bold; /* Teks tebal */
    margin-top: 10px; /* Tambahkan jarak di atas nama */
    color: black; /* Atur warna teks sesuai kebutuhan */
}